.content h1{
    color: #73F0F9;
}
.content h4, strong, span{
    color: #01013F;
}
.main{
    position: relative;
    width: 100%;
    height: 50vw;
}
.main img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.main-btn{
    position: absolute;
    border: lightblue 4px solid;
    top:28vw;
    left: 48%;
    width: 200px;
    display: none;
}

.content-info{
    padding: 100px;
    margin-top: 100px;
    display: grid;
    grid-gap: 100px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 800px);
}
.content-info-block{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.content-info-img{
    width: 400px;
    height: 400px;
    align-self: flex-end;
}
.content-info-imgIz{
    width: 400px;
    height: 400px;
    align-self: flex-start;    
}
.content-info-img img, .content-info-imgIz img{
    width: 40%;
    height: 68%;
    position: absolute;
    border-radius: 20px;
    top: 10px;
    transition: 0.5s;
}
.content-info-img img:hover, .content-info-imgIz img:hover{
    z-index: 2;
    width: 42%;
    height: 70%;
}

.content-info-text{
    position: absolute;
    background-color: white;
    border-radius: 20px;
    top: 50px;
    padding: 100px;
    box-shadow: 10px 15px 26px -19px rgba(0,0,0,0.75);
}

.content-info-textDe{
    position: absolute;
    background-color: white;
    border-radius: 20px;
    top: 50px;
    left: 100px;
    padding: 100px;
    box-shadow: 10px 15px 26px -19px rgba(0,0,0,0.75);
}

