*{
  font-family: Consolas;
}
html, body {
	position: relative;
	width: 100%;
  height: 100%;
  background-color: #01013F;
}
.root{
  width: 100%;
  height: 100%;
}
.App{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px auto auto auto;
  width: 100%;
  height: 100%;
}
.nav-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: rgba(255,255,255, 1);
}
.nav-bar ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  list-style: none;
}
.nav-bar li:nth-child(1){
  margin-right: 100px;
}
.nav-bar li{
  margin-right: 50px;
}
.nav-bar li:hover{
  cursor: pointer;
}
.nav-bar h1{
  margin: 0px
}

/* MAIN START */
main{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin-top: 100px;
  z-index: 1;
  justify-self: center;
}
main div img{
    width: 550px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 11px 11px 7px -2px rgba(0,0,0,0.2);
}
main h1{
  margin-top: 100px;
  font-size: 50px;
  font-weight: bold;
  color: white;
}


/* CARACTERISTICS SECTION START */
.caracteristics-ai{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 450px);
}
.caracteristics-block{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.image-caracteristics{
  position: relative;
  background-color: white;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  margin-bottom: 10px;
}
.caracteristics-block img{
  position: absolute;
  width: 140px;
  height: 140px;
  top: -30px;
  left: 10px;
  animation-name: image-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  /* animation-timing-function: ease-out; */
}
@keyframes image-animation{
  0%{
		left: 10px;
	}
	25%{
		left: 15px;
	}
	50%{
		left: 10px;
	}
	75%{
		left: 15px;
	}
	100%{
		left: 10px;
	}
}
.caracteristics-block-info{
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 100px 20px;
  color: white;
  font-size: 12px;
  padding: 10px;
}
.caracteristics-block-info h1{
  font-size: 20px;
  color: #73F0F9;
}
.caracteristics-block-info button{
  background-color: #73F0F9;
  border: none;
  height: 40px;
  width: 100px;
  justify-self: center;
  font-weight: bold;
  font-size: 14px;
}

@media (min-width: 1024px){
  .App{
    grid-template-rows: auto auto;
  }
  main{
    flex-direction: row;
  }

  main h1{
    margin-left: 100px;
  }
  .nav-bar{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: rgba(255,255,255, 1);
    background-color:rgba(73, 96, 230, 0.5);
    z-index:2;
  }
  .nav-bar h1{
    margin-left: 100px;
  }
  .nav-bar ul{
    margin-right: 100px;
    font-size: 14px;
    list-style: none;
    font-weight: bold;
  }
  .nav-bar ul li:nth-child(3){
    margin-right: 50px;
    justify-self: flex-end;
  }
  .caracteristics-ai{
    justify-content: center;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: repeat(4, 400px);
    padding: 50px;
  }
  .caracteristics-block{
    width: 100%;
    height: 50%;
  }
  .caracteristics-block:nth-child(1){
    flex-direction: row;
    justify-self: center;
    align-self: center;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }
  .caracteristics-block:nth-child(1) .caracteristics-block-info{
    margin-left: 100px;
    text-align: right;
  }
  .caracteristics-block:nth-child(1) .caracteristics-block-info button{
    justify-self: flex-end;
  }
 .caracteristics-block:nth-child(2){
    flex-direction: row-reverse;
    justify-self: center;
    align-self: center;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  } 
  .caracteristics-block:nth-child(2) .caracteristics-block-info{
    margin-right: 100px;
    text-align: left;
  }
  .caracteristics-block:nth-child(2) .caracteristics-block-info button{
    justify-self: flex-start;
  }
  .caracteristics-block:nth-child(3){
    flex-direction: row;
    justify-self: center;
    align-self: center;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
  }
  .caracteristics-block:nth-child(3) .caracteristics-block-info{
    margin-left: 100px;
    text-align: right;
  }
  .caracteristics-block:nth-child(3) .caracteristics-block-info button{
    justify-self: flex-end;
  }
  .caracteristics-block:nth-child(4){
    flex-direction: row-reverse;
    justify-self: center;
    align-self: center;
    grid-row: 4 / 5;
    grid-column: 1 / -1;
  }
  .caracteristics-block:nth-child(4) .caracteristics-block-info{
    margin-right: 100px;
    text-align: left;
  }
  .caracteristics-block:nth-child(4) .caracteristics-block-info button{
    justify-self: flex-start;
  }
  .caracteristics-block-info{
    grid-template-rows: 100px 100px 20px;
    grid-template-columns: 400px;
    font-size: 14px;
  }
  .caracteristics-block-info h1{
    font-weight: bold;
    font-size: 45px;
  }

  /* .image-caracteristics{
    margin-right: 15%;
  } */
}